.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.track-list-item {
    padding: 10px;
    margin: 5px 3px;
    border-radius: 15px;
}

.album-entry {
    padding: 10px;
    margin: 3px 5px;
}

.upcoming {
    background-color: rgba(255, 255, 255, 0.05);
}

.passed {
    background-color: rgba(255, 255, 255, 0.01);
}

.current {
    background-color: rgba(255, 255, 255, 0.09);
}

.album-play-btn {
    -gtk-icon-size: 3em;
    border-radius: 3em;
}

.album-song-item {
    margin: 10px;
}

.t0 {
    font-size: x-large;
}

.t1 {
    font-size: larger;
}

.t2 {
    font-size: large;
}

.t3 {
    font-size: medium;
}

.no-bg {
    background-color: transparent;
}

.padded {
    padding: 10px;
}


/* This class taken from Amberol (looks very nice) */
/* https://gitlab.gnome.org/World/amberol/-/blob/main/src/gtk/style.css#L118-123 */
.current-song {
    background: linear-gradient(127deg, color-mix(in srgb, var(--background-color-0) 55%, transparent), color-mix(in srgb, var(--background-color-0) 0%, transparent) 70.71%),
                linear-gradient(217deg, color-mix(in srgb, var(--background-color-1) 55%, transparent), color-mix(in srgb, var(--background-color-1) 0%, transparent) 70.71%),
                linear-gradient(336deg, color-mix(in srgb, var(--background-color-2) 55%, transparent), color-mix(in srgb, var(--background-color-2) 0%, transparent) 70.71%);
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

/* https://gitlab.gnome.org/World/amberol/-/blob/main/src/gtk/style.css#L127-133 */
.track-list {
    background: linear-gradient(127deg, color-mix(in srgb, var(--background-color-0) 55%, transparent), color-mix(in srgb, var(--background-color-0) 0%, transparent) 70.71%),
                linear-gradient(217deg, color-mix(in srgb, var(--background-color-1) 55%, transparent), color-mix(in srgb, var(--background-color-1) 0%, transparent) 70.71%),
                linear-gradient(336deg, color-mix(in srgb, var(--background-color-2) 55%, transparent), color-mix(in srgb, var(--background-color-2) 0%, transparent) 70.71%),
                var(--window-bg-color);
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: ease;

    box-shadow: 0.35em 0.35em 0.4em black;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}
